/* Hi, good day. My name is Kwency Maye Dahilan, currently an IDP3 Level 1 student and this is my FIP.  I dedicate this project to my family, friends, loved ones, and props to all my professors who helped me gain insights and pushing me to do better. I aspire to be a UI/UX Designer or Web Designer in the future and I really hope to reach that success. I have a strong confidence that with Fanshawe's quality of education and with the teacher's encouragement and high-level skills, my ONE DAY will become DAY ONE soon. :) I try to be as organized as possible in my css so enjoy!*/

/* Table of Contents

  	1. General Styles
    2. Grid
    3. Header
	4. Main Navigation
	5. Hero
	6. Modal for Gift Certificate
	7. Menu/Products
	8. Services
	9. Map Address
	10. Contact Form - Email Form 
	11a. Footer - Social Media
	11b. Footer - Opening Hours
	11c. Footer - About Us
	11d. Footer - Contact Us
	11e. Footer - Newsletter
	
*/

/*  --- 1. General Styles ---- */

@charset "UTF-8";
/* CSS Document */


@font-face {
	font-family: "Yellowtail";
	src: url(../fonts/Yellowtail/Yellowtail-Regular.ttf);
	src: url(../fonts/Yellowtail/Yellowtail-Regular.ttf) format("woff"),
	url(../fonts/Yellowtail/Yellowtail-Regular.ttf) format("opentype"),
	url(../fonts/Yellowtail/Yellowtail-Regular.ttf) format("svg");
	}

.box-color {
	color: #fff;
	background: #000;
	text-align: center;
	margin: 0;
}


a {
    text-decoration: none;
    transition: all .5s ease-in-out;
}

div,p,body,header,footer,article,nav { 
	margin: 0; 
	padding: 0; 
}	

img { 
	border: none; /*Remove border if image is a link*/
	margin: 0; 
	padding: 0; 
}

/*html selectors*/

body {
	font-family: 'Oswald';
	font-size: 24px;

}

/* Remove underlines from links */

a {
	text-decoration: none;
}

/*hide elements from browser but show for doc outline*/

.hidden {
	display: none;
}



#container {
	margin: 0 auto;
	width: 1920px;
	/* background-color: #EFEDE8; */
	background-color: #1e1e1e;
}

/* --- 2. Grid--- */

.grid-con {
    /*  */
	display: grid;
	grid-template-columns: repeat(12, 118px);
	grid-column-gap: 40px;
	padding-left: 32px;
	padding-right: 32px;
}

/* ---3. Header--- */

#main-header {
    position: sticky;
    top: 0px;
    height: 100px;
    background-color: #101010;
	z-index: 999999 !important;
}

#logo {
    grid-column: 1/3;
}

/* ---4. Main Navigation--- */

#main-nav h2 {
    text-align: center;
    color: white;
    font-size: 50px;
    margin-top: 0;
}
#main-nav {
	grid-column: 3/11;
	/* Remove as content will dictate height */
	height: 80px;
	margin-top: 10px;
    margin-left: 30px;
	/* z-index: 999999 !important; */
	/* z-index: 2; overflow: hidden;  */
	position: relative;
}

#main-nav ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    margin-left: 50px;
	
}

#main-nav ul li {
    display: inline;
    margin-right: 20px;
	padding: 25px;
	
}

#main-nav ul li a {
    color: #FFF;
	font-size: 24px;
}

#main-nav ul li a:hover {
    color:  #f1c761;
}

#hero {
    height: 953px;
    background-image: url(../images/galaxyBG.jpg);
}

/* solarsystem */

#sun {
	grid-column: 2/4;
	margin-top: 270px;
	margin-left: 35px;
}

#mercury {
	margin-top: 200px;
	grid-column: 4/4;
}

#venus {
	margin-top: 450px;
	margin-left: 15px;
	grid-column: 5/5;
}

#earth {
	margin-top: 300px;
	grid-column: 6/6;
}

#mars {
	margin-top: 530px;
	grid-column: 7/7;
}

#jupiter {
	margin-left: -50px;
	margin-top: 100px;
	grid-column: 8/8;
}

#saturn {
	margin-left: -80px;
	margin-top: 300px;
	grid-column: 9/9;
}

#uranus {
	margin-top: 490px;
	grid-column: 10/10;
}

#neptune {
	margin-top: 300px;
	grid-column: 11/11;
}

#pluto {
	margin-top: 600px;
	grid-column: 12/12;
}

.puzzle-board { 
	margin: 0 auto;
	width: 1000px;
	height: 150px; 
	background-repeat: no-repeat;
	border-width: 5px;
	border-style: solid;
	border-color: white;
}